<style>
   
  </style>
  
<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12" >
            <h4 class="card-title">Selecciona una ruta: </h4>
            <button style="margin: 10px;" type="button" class="btn btn-link" (click)="filterData(['PPG'])">PPG</button>
            <button style="margin: 10px;" style="margin: 10px;" type="button" class="btn btn-link" (click)="filterData(['Center'])">Center</button>
            <button style="margin: 10px;" type="button" class="btn btn-link" (click)="filterData(['Zocalo'])">Zocalo</button>
            <button style="margin: 10px;" type="button" class="btn btn-link" (click)="filterData(['Catalina Pastrana'])">Catalina Pastrana</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header ">
              <h4 class="card-title">Unidades por ruta</h4>
              <p class="card-category">informacion de las unidades de ruta</p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class="text-primary">
                    <th>Numero</th>
                    <th>Nombre</th>
                    <th>Tiempo de llegada</th>
                    <th>Inicio de vuelta</th>
                    <!-- <th>Fin de vuelta</th> -->
                    <th>N. Pasajeros</th>


                  </thead>
                  <tbody>
                    <tr *ngFor="let item of tableData">
                      <td>{{ item.id }}</td>
                      <td>{{ item.name }}</td>
                      <td>{{ item.timellegada }}</td>
                      <td>{{ item.startTime }}</td>
                      <!-- <td>{{ item.finTime }}</td> -->
                      <td>{{ item.numPasajeros }}</td>

                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  