<app-navbar></app-navbar>
<div class="espacio" style="margin: 10px;"></div>
<div style="display: flex;">
  <div id="map-container" style="flex: 1; min-height: 600px; border: 1px solid #ccc; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
    <div id="map" style="height: 100%;"></div>
  </div>
  <div id="marker-box" style="width: 30%; padding: 20px; background-color: #f9f9f9; border: 1px solid #ccc; border-radius: 8px; margin-left: 20px;">
    <div class="main-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <!-- Información sobre la unidad en formato de tabla -->
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Información sobre la unidad</h4>
                  <p class="card-category">Información de las unidades de ruta PPG</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table>
                      <thead>
                        <tr>
                          <th>Latitud</th>
                          <th>Longitud</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let marcador of marcadores">
                          <td>{{ marcador.latitud }}</td>
                          <td>{{ marcador.longitud }}</td>
                        </tr>
                      </tbody>
                    </table>
                    
                  </div>
                  
                  
              </div>
              <!-- Fin de la tabla de información -->
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<app-footer></app-footer>
