/* Estilo global para centrar el texto en la lista */
ul {
  text-align: center;
}

/* Estilo para la cabecera de la tabla */
.table thead th {
  background-color: blueviolet;
  color: white;
  font-weight: bold;
}

/* Estilo para las filas al pasar el mouse */
.table tbody tr:hover {
  background-color: #ffe0b2;
}

/* Estilo para el borde de la tabla */
.table {
  border-collapse: collapse;
  width: 100%;
}

/* Estilos para la cabecera de la tarjeta */
.card-header h4 {
  color: #ffffff;
  margin-bottom: 0;
}

.card-header p {
  color: #ffffff;
  margin-bottom: 0;
}

/* Estilo para la tarjeta */
.card {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.card-header {
  background-color: blueviolet;
}

#button {
  margin: 10px;
}

/* Estilo para las paradas visitadas */


/* Estilo para el ícono de la parada */
.icono-parada {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: gray;
  margin-right: 5px;
}

/* Estilo para la parada actual */
.parada-actual {
  background-color: lightblue;
  font-weight: bold;
}

/* Estilo para el contenedor del mapa */
#map-container {
  flex: 1;
  min-height: 600px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.lista-paradas {
  list-style-type: none;
  padding-left: 0;
  position: relative;
}

.lista-paradas .parada {
  display: flex;
  align-items: center;
}

.lista-paradas .parada .circulo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  margin-right: 10px;
}

.lista-paradas .parada span {
  font-size: 16px;
}

.parada-visitada .circulo {
  background-color: green;
}

/* Estilo para la línea que conecta los círculos */

