<app-navbar></app-navbar>
<div style="display: flex;">
  <div id="map-container"
      style="flex: 1; min-height: 600px; border: 1px solid #ccc; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
      <div id="map" style="height: 100%;"></div>
  </div>
  <div id="marker-box" style="width: 30%; padding: 20px; background-color: #f9f9f9; border: 1px solid #ccc; border-radius: 8px; margin-left: 20px; position: relative; overflow-y: auto;">
    <div class="vertical-line"></div>
    <ul class="lista-paradas" style="list-style-type: none; padding: 0; margin: 0; position: relative;">
        <li *ngFor="let parada of paradas; let i = index" style="position: absolute; left: 0; top: {{ i * 50 }}px;">
            <div class="parada" style="text-align: center;">
                <div class="circulo" [style.background-color]="paradasVisitadas[i] ? 'green' : 'red'" style="width: 20px; height: 20px; border-radius: 50%; margin: 0 auto 10px;"></div>
                <span style="font-size: 14px;">{{ parada.id }}</span>
                <br>
                <span style="font-size: 12px;">{{ parada.trayecto }}</span>
                <span><strong>Distancia (km):</strong> {{ calcularDistanciaHaversine(parada.latitud, parada.longitud, paradas[i + 1]?.latitud, paradas[i + 1]?.longitud) | number:'1.2-2' }}</span><br>
                <span><strong>Tiempo de llegada (min):</strong> {{ ((calcularDistanciaHaversine(parada.latitud, parada.longitud, paradas[i + 1]?.latitud, paradas[i + 1]?.longitud) / speedKmPerHour) * 60) | number:'1.2-2' }}</span>
            </div>
        </li>
    </ul>
</div>


  
  
</div>
